body {
    background-color: rgb(185, 160, 215);
}
#white{
    color: white;
}
#green{
    color: green;
}
#blue{
    color:blue;
}
#red{
    color:red;
}
#pink{
    color:rgb(226, 17, 188);
}
#yellow{
    color: yellow;
}
#purple{
    color: purple;
}
#brown{
    color:brown;
}
#orange{
    color: orange;
}
#grey{
    color:grey;
}